{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Email</th>
        <th scope="col">Rola</th>
        <th scope="col">Akcje</th>
    </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
        <tr>
        <th scope="row">{{ user.email }}</th>
        <td>{{ role_from_id(user.role) }}</td>
        <td><a class="btn btn-secondary mr-2" href="{{ url_for(update_account, id_=user.id) }}">Edytuj</a><a class="btn btn-danger" href="{{ url_for('users.delete_account', id_=user.id) }}">Usuń</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}



