{% extends "layout.html" %}
{% block content %}
{% if is_admin(current_user) %}
  <a href="{{ url_for('orders.add_components') }}" class="btn btn-primary mb-3">Dodaj komponenty</a>
{% endif %}
<h2 class="mb-3">{{ title }}</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Kolor</th>
      <th scope="col">Nazwa komponentu</th>
      <th scope="col">Stan</th>
    </tr>
  </thead>
  <tbody>
  {% for item in components %}
    <tr>
      <th scope="row">{{ item.id }}</th>
      <td>{{ color_from_id(item.color) }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.quantity }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}