{% extends "layout.html" %}
{% block content %}
<main>
    {% if is_admin(current_user) %}
        <a href="{{ url_for('orders.add_product') }}" class="btn btn-primary mb-3">Dodaj produkt</a>
    {% endif %}
    {% for item in products %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Ilość komponentów: {{ item.components|length }}</h6>
                <p class="card-text">
                {% for component in item.components %}
                {{ component.quantity }} x {{ color_from_id(get_component_by_id(component.component).color) }} {{ get_component_by_id(component.component).name }}<br>
                {% endfor %}
                </p>
                <a href="{{ url_for('orders.remove_product', id_=item.id) }}" class="btn btn-danger">Usuń produkt</a>
            </div>
        </div>
    {% endfor %}
</main>
{% endblock content %}