{% extends "layout.html" %}
{% block content %}
{% if is_admin(current_user) %}
    <a class="btn btn-primary mb-4" href="{{url_for('orders.add_order')}}">Dodaj zamówienie</a>
{% endif %}
<h2>{{ title }}</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Akcja</th>
            {% if is_admin(current_user) %}
            <th scope="col">Wiadomość</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <th scope="row">{{ order.name }}</th>
            <td>
                {% if is_admin(current_user) and order.position == 1 %}
                    <a class="btn btn-info" href="{{ url_for('orders.launch_order', id_=order.id) }}">Uruchom</a>
                {% else %}
                    <a class="btn btn-info" href="{{ url_for('orders.view_order', id_=order.id) }}">Szczegóły</a>
                {% endif %}
                {% if is_admin(current_user) and order.requires_action %}
                    <a class="btn btn-success" href="{{ url_for('orders.perform_action', id_=order.id) }}">Przywróć</a>
                    </td>
                    <td class="text-danger"> {{ order.message }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}